.remember-me-card {
    flex-shrink: 1;
    width: 13rem;
    height: 3rem;
    padding: 1vmin;
}

.field {
    padding: 1vmin;
    transition: all;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}

.actions {
    padding: 1vmin;
}

.alert {
    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.hide-alert {
    opacity: 0;
    visibility: hidden;
}

.link {
    padding: 1vmin;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}